<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock %} | Servicio Dental </title>

    {% load static %}

    <!-- Bootstrap -->
    <link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!--core/vendor/bootstrap/css/bootstrap.min.css-->
    <!-- Fuentes -->
    <link href="{% static 'core/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Estilos -->
    <link href="{% static 'core/css/business-casual.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/fondo.css' %}" rel="stylesheet">
   
  </head>

  <body style="background-color:white;">
    <div class="container">
        <h1  class="site-heading text-center d-none d-lg-block" style="color:#4477EA;">
          <span class="site-heading-upper ">Comprometidos con tu salud dental</span>
          <span class="site-heading-lower"><b>Linda Sonrisa</b></span>
        </h1>

        <!-- Navegación -->
        <nav class="horizontal gray navbar navbar-expand-lg navbar-light bg-light" style="blue;border : 2px solid #bbb;">
          <a class="navbar-brand" style="color:#4477EA;border-right: 1px solid #bbb;" href="{% url 'home' %}"><b>LindaSonrisa</b></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="background-color:#4477EA ;"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item {% if request.path == '/' %}active{% endif %}" style="border-right: 1px solid #bbb;">
                <a class="nav-link" style="color:#4477EA;" href="{% url 'home' %}"><b>Principal</b><span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item dropdown" style="border-right: 1px solid #bbb;">
                <a class="nav-link dropdown-toggle" style="color:#4477EA;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <b>Servicios</b>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" style="color:#4477EA;" href="{% url 'services' %}"><b>Todos</b></a>
                  <a class="dropdown-item" style="color:#4477EA;" href="#"><b>Ofertas</b></a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" style="color:#4477EA;" href="#">Profesionales</a>
                </div>
              </li>
              <li class="nav-item {% if request.path == '/blog/' %}active{% endif %}" style="border-right: 1px solid #bbb;">
                <a class="nav-link" style="color:#4477EA;" href="{% url 'blog' %}" tabindex="-1" aria-disabled="False"><b>Blog</b></a>
              </li>
              <li class="nav-item {% if request.path == '/blog/' %}active{% endif %}" style="border-right: 1px solid #bbb;">
                <a class="nav-link" style="color:#4477EA;" href="{% url 'pages:pages' %}" tabindex="-1" aria-disabled="False"><b>De Interés</b></a>
              </li>
            </ul>
            {% if not request.user.is_authenticated %}
              <form class="form-inline my-2 my-lg-0">
                  <b style="color:#4477EA">Bienvenid@ Visitante </b>
                  <a href="{% url 'login' %}" class="btn btn-outline-secondary">  Acceder</a>
                  <a href="{% url 'signup' %}" class="btn btn-outline-secondary ml-2">  Crear Cuenta</a>
                </form>
            {% else %}
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <b style="color:#4477EA;">Bienvenid@ : {{ user.username }}</b>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" style="color:#4477EA;" href="{% url 'password_change' %}">Change password</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" style="color:#4477EA;" href="{% url 'profiles:list' %}">Mostrar perfiles</a>
                    <!--<a class="dropdown-item" style="color:#4477EA;" href="{% url 'logout' %}">Salir</a>-->
                  </div>
                </li>
                <li>
                  <a href="{% url 'profile' %}" style="color:#4477EA;" class="btn btn-outline-secondary">Mi Cuenta</a>
                </li>
                <li>
                  <a href="{% url 'messenger:list' %}" style="color:#4477EA;" class="btn btn-outline-secondary">Mensajes</a>
                </li>
                <li>
                  <a href="{% url 'logout' %}" style="color:#4477EA;" class="btn btn-outline-secondary">Salir</a>
                </li>
                
              </ul>
            {% endif %}
          </div>
    </nav>

        <!--<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
          <div class="container">
            <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="{% url 'home' %}">Servicio Dental</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav mx-auto">
                <li class="nav-item px-lg-4 {% if request.path == '/' %}active{% endif %}">
                  <a class="nav-link text-uppercase text-expanded" href="{% url 'home' %}">Inicio</a>
                </li>
                <li class="nav-item px-lg-4 {% if request.path == '/services/' %}active{% endif %}">
                  <a class="nav-link text-uppercase text-expanded" href="{% url 'services' %}">Servicios</a>
                </li>
                <li class="nav-item px-lg-4 {% if request.path == '/store/' %}active{% endif %}">
                  <a class="nav-link text-uppercase text-expanded" href="{% url 'store' %}">Visítanos</a>
                </li>
                <li class="nav-item px-lg-4 {% if request.path == '/about/' %}active{% endif %}">
                  <a class="nav-link text-uppercase text-expanded" href="{% url 'about' %}">Historia</a>
                </li>
                <li class="nav-item px-lg-4 {% if request.path == '/contact/' %}active{% endif %}">
                  <a class="nav-link text-uppercase text-expanded" href="{% url 'contact' %}">Contacto</a>
                </li>
                <li class="nav-item px-lg-4 {% if request.path|slice:":6" == '/blog/' %}active{% endif %}">
                  <a class="nav-link text-uppercase text-expanded" href="{% url 'blog' %}">Blog</a>
                </li>
                <li class="nav-item px-lg-4">
                  <a class="nav-link text-uppercase text-expanded" href="#">Cuenta</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>-->

        {% block content %} {% endblock %}

        <!-- Pié de página -->
        <footer class="footer text-faded text-center py-5" style="background-color:#4477EA;">
          <div class="container">
            <p class="m-0">
              {% if LINK_TWITTER %}
                <a href="{{LINK_TWITTER}}" class="link">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              {% endif %}
              {% if LINK_FACEBOOK %}
                <a href="{{LINK_FACEBOOK}}" class="link">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              {% endif %}
              {% if LINK_INSTAGRAM %}
                <a href="{{LINK_INSTAGRAM}}" class="link">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              {% endif %}
            </p>
              <p class="m-0 mbt">
                <!--<a href="sample.html" class="link">Política de privacidad</a> ·
                <a href="sample.html" class="link">Aviso legal</a> ·
                <a href="sample.html" class="link">Cookies</a>-->
                {% load pages_extras %}
                {% get_page_list as page_list %}
                {% for page in page_list|dictsort:"id" reversed%}
                  <a style="color:white;" href="{% url 'pages:page' page.id page.title|slugify %}" class=link>{{page.title}}</a> <!--!{% if not forloop.last %}{% endif %}-->
                {% endfor %}
                <a style="color:white;" href="{% url 'about' %}" class=link>Nosotros</a>
                <!--<p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>-->
                {% if user.is_authenticated %}
                <p style="color:white;">
                <strong>Total user registered: </strong>{{count}}
                </p>
                {% endif %}
              </p>
            <p class="m-0 mbt1" style="color:white;">&copy; Servicio Dental 2020</p>
          </div>
      </footer>

    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>


<!--
<!DOCTYPE html>
<html lang="es">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    
      
        <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    </div>
  </body>

</html>
-->